<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itxc.housekeepbackend.mapper.EmployeeScheduleMapper">

    <resultMap id="BaseResultMap" type="com.itxc.housekeepbackend.model.entity.EmployeeSchedule">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="employeeId" column="employee_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,employee_id,order_no,
        start_time,end_time,create_time
    </sql>
</mapper>
