<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itxc.housekeepbackend.mapper.EmployeeServiceSkillMapper">

    <resultMap id="BaseResultMap" type="com.itxc.housekeepbackend.model.entity.EmployeeServiceSkill">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="employeeId" column="employee_id" jdbcType="BIGINT"/>
            <result property="serviceId" column="service_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,employee_id,service_id,
        score,create_time
    </sql>
</mapper>
